# Firebase Web Configuration Template
VITE_FIREBASE_API_KEY=AIzaSyAHD9J1ne35JFdzN92L4YRuEdGn_OkZc0A
VITE_FIREBASE_AUTH_DOMAIN=caretaker-c02b5.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=caretaker-c02b5
VITE_FIREBASE_STORAGE_BUCKET=caretaker-c02b5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1010051495873
VITE_FIREBASE_APP_ID=1:1010051495873:web:b733f56bb0868ea6e7a140
VITE_FIREBASE_MEASUREMENT_ID=G-8B7E3BXYPB